<h1>Project <%= @project.id %> description</h1>
<p>Name: <%= @project.name %></p>
<p>Desciption: <%= @project.description %></p>
<p>Created at: <%= @project.created_at %></p>
<p>Updated at: <%= @project.updated_at %></p>