<h1>User <%= @user.id %> description</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<p>Session: <%= session[:user_id] %>

<%= link_to "Products", user_products_path(@user.id) %>
<%= link_to "Delete", users_destroy_path(@user.id), method: :delete, confirm: 'Are you sure?' %>