<h1><%= @project.name %></h1>

<ul>
	<% @time_entries.each do |time_entry| %>
		<li>
			<div><%= time_entry.hours %> h <%= time_entry.minutes %> m - <%= time_entry.date.strftime("%F") %></div>
			<div><%= time_entry.comments %></div>
			<div><%= link_to "Delete", project_time_entry_path(@project, time_entry), method: :delete,
				data: { confirm: "Are you sure?" }  %></div>
		</li>
	<% end %>
</ul>

<%= link_to "Projects", projects_path %>